libtesseract-5.dll
/Users/toshiakitakahashi/Documents/SOMA-1/Tomoki/Tesseract-OCR/libtesseract-5.dll
Users/toshiakitakahashi/Documents/SOMA-1/Tomoki/Tesseract-OCR/libtesseract-5.dll
Tomoki/Tesseract-OCR/libtesseract-5.dll
/Tomoki/Tesseract-OCR/libtesseract-5.dll
/Tomoki/Tesseract-OCR/
Tomoki/Tesseract-OCR/